<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Robots</title>
  </head>
  <body>
    <h1>All Robots</h1>

      <% @robots.each do |robot| %>
      <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
        <p><%= robot.city %></p>
        <p><%= robot.state %></p>
        <p><%= robot.department %></p>
        <p><%= robot.id %></p>
        <% end %>
  </body>
</html>
