<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Robots</title>
  </head>
  <body>
    <h1>All Robots</h1>

    <ul>
      <% @robots.each do |robot| %>
      <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
        <a href="/robots/<%= robot.id %>/edit">Edit</a>
        <li><%= robot.city %></li>
        <li><%= robot.state %></li>
        <li><%= robot.department %></li>
        <li><%= robot.id %></li>
        <% end %>
      </ul>
  </body>
</html>
