  <h1>All Robots</h1>
  <p>
    <a href="/robots/new">new robot</a>
  </p>
  <ul>
    <% @robots.each do |robot| %>
    <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
      <a href="/robots/<%= robot.id %>/edit">Edit</a><br>
      <li><%= robot.city %></li>
      <li><%= robot.state %></li>
      <li><%= robot.department %></li>
      <li><%= robot.id %></li>
      <form action="/robots/<%= robot.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
      </form>
      <% end %>
    </ul>
